---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"> Decentralized Options Trading  <span class="text-primary dark:text-white">on UniSwap-V4.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Straddle is a decentralized options trading platform built on Uniswap V4, aiming to offer users improved options trading liquidity compared to Deribit. It also provides one-click access to structured financial products.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfWzLvRrXV7guNQ5vmc1Y-67NoCStccc3u01K7vQOaca2PAVg/viewform?usp=sf_link"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Join Waitlist</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The better liquidity</h6>
                        <p class="mt-2 text-gray-500">Option sellers on Straddle can earn an APY from Uni AMM transaction fees, so they tend to lower the premium fee to attract more buyers.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Structured products</h6>
                        <p class="mt-2 text-gray-500">Straddle provides users one-click experience to many complicated strategies which cross the combination of option, perpetual and spot. </p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Oracle free market</h6>
                        <p class="mt-2 text-gray-500">Uni has built-in price information, so Straddle options don't require external oracle quotes, which helps prevent many attacks.</p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>