---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Who We Are.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/1.avif" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Boreas</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Founder</p>
          </div>
        </div>
        <p class="mt-8">AI and Web3 Experts, former TikTok Ai Scientist and Founder of the Solowin Protocol.</p>
      </div>

      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/2.avif" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Frank Su</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Full-Stack dev</p>
          </div>
        </div>
        <p class="mt-8"> Experienced developer with a Ph.D. in the field of computer science.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/3.avif" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Yusheng Wu</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Tech lead</p>
          </div>
        </div>
        <p class="mt-8">Helsinki University Post-Doc researcher in applied physics. Senior Systems developer.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/4.avif" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Ryan Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Smart-Contract dev</p>
          </div>
        </div>
        <p class="mt-8">Senior Solidity smart contract engineer with extensive contract development experience.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/5.avif" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lucas Carmen </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Marketing lead</p>
          </div>
        </div>
        <p class="mt-8">Financial Engineering Master, extensive financial background and Web3 experience.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/8.avif" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Vanessa</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Senior designer</p>
          </div>
        </div>
        <p class="mt-8">Extensive graphic design and UI/UX experience, with involvement in NFT design.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/7.avif" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">0xSong</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Smart-Contract dev</p>
          </div>
        </div>
        <p class="mt-8">Graduated in Cryptography, ZK Engineer with rich experience in Dapp development.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/6.avif" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Justin</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Operation lead</p>
          </div>
        </div>
        <p class="mt-8">Extensive experience in Web3 social media and online/offline community operations.</p>
      </div>


    </div>
  </Container>
</div>